html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
}

header {
  background-color: #222;
  background-image: url("../img/waterfall_to_nowhere.jpeg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

main {
  margin: 0 auto;
  max-width: 40em;
  flex-grow: 1;
}